*{
    text-align: center; 
}
body{
    background-color: #ADCAD6;
    display: flex;     
    flex-direction: column; 
    height: 100vh;
    margin: 0;
}
.key {
    font-family: "Bagel Fat One", serif;
    font-size: 8rem ;
    display: inline-block;
    letter-spacing: -12px;
    transition: transform 0.2s;
    margin-top: 10vw;
    color: #FFD23F;
    text-shadow:2px 2px 2px rgba(0, 0, 0, 0.486);
    -webkit-text-stroke: 1px #7b3f00;
  }
  @media (max-width: 480px) {
    .key {
        font-size: 4rem; 
        letter-spacing: -12px;
    }
}
@keyframes pressDown1 {
    30%,
    40%,
    100% {
      transform: translateY(0);
    }
    35% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown2 {
    70%,
    80%,
    100% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown3 {
    30%,
    40%,
    100% {
      transform: translateY(0);
    }
    35% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown4 {
    40%,
    50%,
    100% {
      transform: translateY(0);
    }
    45% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown5 {
    20%,
    30%,
    100% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown6 {
    60%,
    70%,
    100% {
      transform: translateY(0);
    }
    65% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown7 {
    10%,
    20%,
    100% {
      transform: translateY(0);
    }
    15% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown8 {
    35%,
    45%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(10px);
    }
  }
  
  
  
  .key:nth-child(1) {
    animation: pressDown1 2s infinite;
  }
  
  .key:nth-child(2) {
    animation: pressDown2 3s infinite;
  }
  
  .key:nth-child(3) {
    animation: pressDown3 4s infinite;
  }
  
  .key:nth-child(4) {
    animation: pressDown4 2.5s infinite;
  }
  
  .key:nth-child(5) {
    animation: pressDown5 2.5s infinite;
  }
  
  .key:nth-child(6) {
    animation: pressDown6 3.5s infinite;
  }
  
  .key:nth-child(7) {
    animation: pressDown7 2.2s infinite;
  }
  
  .key:nth-child(8) {
    animation: pressDown8 3.2s infinite;
  }
/* .logo{ 
    margin-top: 200px;
    color: #FFD23F;
    font-size: 64px;
    -webkit-text-stroke: 1px #7b3f00;
    text-shadow:2px 2px 2px rgba(0, 0, 0, 0.486);
    animation: bounce;
    animation-duration: 2s;
}
*/
#timer{
    color: white;
    font-size: 90px;
    margin-top: 1vw;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.486);
    -webkit-text-stroke: 1% rgba(0, 0, 0, 0.5);
    letter-spacing: 5px;
    font-family: "Sour Gummy", serif;
}
#timer:hover{
    cursor: pointer;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: "Sour Gummy", serif;
}
.container button{
background-color: #2596c7;
height: 90px;
width: 95px;
border-radius: 10px;
color: rgb(255, 255, 255);
border-color: #add8e6;
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.329);
font-family: "Sour Gummy", serif;

font-size: 20px;
}
button:hover{
    cursor: pointer;
}
footer{
    margin-top: auto;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-size: 13px;
}